{% extends 'base.html' %}

{% block content %}
    
    <div>
        <h1>Hi {{ current_user.username }}!</h1>
    </div>
    <div>
        <h3>Registered Events</h3>
    </div>
    {% for event in my_events %}
        <div><p>{{ event.author.username }} created an Event: <b><a href={{ url_for('event', event_name=event.event_name) }}>{{ event.event_name }}</a></b></p></div>
    {% endfor %}
    <div>
        <h3>Explore</h3>
    </div>
    {% for event in all_events %}
        <div><p>{{ event.author.username }} created an Event: <b><a href={{ url_for('event', event_name=event.event_name) }}>{{ event.event_name }}</a></b></p></div>
    {% endfor %}
{% endblock %}